{% load i18n %}
<div class="sidebar-block sidebar-title">
	<div class="sidebar-title-text">{% trans "Görevlerim" %}</div>
	<div class="sidebar-tasks">
		<div class="sidebar-task-item">{% trans "Nefes Egzersizi" %}</div>
		<div class="sidebar-task-item">{% trans "Günlük Yansıtma" %}</div>		<div class="sidebar-task-item">{% trans "Nefes Egzersizi" %}</div>
		<div class="sidebar-task-item">{% trans "Günlük Yansıtma" %}</div>		<div class="sidebar-task-item">{% trans "Nefes Egzersizi" %}</div>
		<div class="sidebar-task-item">{% trans "Günlük Yansıtma" %}</div>		<div class="sidebar-task-item">{% trans "Nefes Egzersizi" %}</div>
		<div class="sidebar-task-item">{% trans "Günlük Yansıtma" %}</div>		<div class="sidebar-task-item">{% trans "Nefes Egzersizi" %}</div>
		<div class="sidebar-task-item">{% trans "Günlük Yansıtma" %}</div>		<div class="sidebar-task-item">{% trans "Nefes Egzersizi" %}</div>
		<div class="sidebar-task-item">{% trans "Günlük Yansıtma" %}</div><div class="sidebar-task-item">{% trans "Günlük Yansıtma" %}</div>		<div class="sidebar-task-item">{% trans "Nefes Egzersizi" %}</div>
		<div class="sidebar-task-item">{% trans "Günlük Yansıtma" %}</div><div class="sidebar-task-item">{% trans "Günlük Yansıtma" %}</div>		<div class="sidebar-task-item">{% trans "Nefes Egzersizi" %}</div>
		<div class="sidebar-task-item">{% trans "Günlük Yansıtma" %}</div>
	</div>
</div>


